{% extends "layout.html" %}
{% block content %}
{% load widget_tweaks %}
    <input type="hidden" id="mode" value="edit">
    <div class="col-12">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>{{ object.short_name }}</h2>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="well" class="font-weight-bold">Скважины</label>
                    <div id="wells" class="card card-body" style="overflow-y: scroll; height:200px;">
                        {% for well in wells %}
                            <p><a href="/wells/{{well.well.id}}" class="text-dark">{{ well.well.name }}</a></p>
                        {% endfor %}
                    </div>
                </div>

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label for="images" class="font-weight-bold">Фотографии к заданию</label>
                    {% for image in images %}
                        <img class="img-fluid my-2" src="{{ image.task_image_single.image.url }}">
                        <a href="/tasks/{{ object.id }}/image/delete/{{ image.task_image_single.id }}" class="btn btn-primary removeImageBtn" type="button">Удалить <i class="fas fa-trash text-danger"></i></a>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Сохранить
                    </button>
                    <a href="/main_menu?target=tasks" class="btn btn-default">Назад</a>
                </div>
            </form>
        </div>
        </div>
    </div>
    <script src="/static/js/watercourses.js"></script>
{% endblock %}
