{% extends "layout.html" %}
{% block content %}
    <div class="col-12">
      <div class="list-group d-flex flex-md-row flex-column" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action text-center {% if target == 'objects' %}active{% endif %}" id="list-home-list" href="/main_menu?target=objects">Лицензии</a>
        <a class="list-group-item list-group-item-action text-center {% if target == 'tasks' or target == None %}active{% endif %}" id="list-profile-list" href="/main_menu?target=tasks">Задания</a>
        <a class="list-group-item list-group-item-action text-center {% if target == 'users' %}active{% endif %}" id="list-messages-list" href="/main_menu?target=users">Пользователи</a>
        <a class="list-group-item list-group-item-action text-center {% if target == 'mine' %}active{% endif %}" id="list-settings-list" href="/main_menu?target=mine">Редактор разреза</a>
        <a class="list-group-item list-group-item-action text-center {% if target == 'documents' %}active{% endif %}" id="list-settings-list" href="/main_menu?target=documents">Документация</a>
      </div>
    </div>
    <div class="col-12 my-4">
      <table class="table table-responsive table-hover">
        {% if target == 'objects' %}
          {% include 'main/main_menu_partials/objects_partial.html' %}
        {% elif target == 'tasks' %}
          {% include 'main/main_menu_partials/tasks_partial.html' %}
        {% elif target == 'users' %}
          {% include 'main/main_menu_partials/users_partial.html' %}
        {% elif target == 'mine' %}
          {% include 'main/main_menu_partials/mine_partial.html' %}
        {% elif target == 'documents' %}
          {% include 'main/main_menu_partials/documents_partial.html' %}  
        {% else %}
          {% include 'main/main_menu_partials/tasks_partial.html' %}
        {% endif %}
      </table>
    </div>
{% endblock %}
