@font-face {
	font-family: "RoundFit Lowercase Extended";
	src: url(/static/fonts/RoundFit/8bc3d3a49826cb211127721f3d517d7b.woff);
}

@font-face {
	font-family: "LT Reponse";
	src: url(/static/fonts/LTReponse/LTReponse_2.woff);
}

// body {
// 	background-color: #ffc942;
// }