{% block content %}
  <thead class="bg-navbar-main">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Лицензия <a href="/documents/add" class="ml-4 text-dark"><i class="fas fa-plus"></i></a></th>
      <th scope="col">Водоток</th>
      <th scope="col">Линия</th>
      <th scope="col">Скважина</th>
    </tr>
  </thead>
  <tbody>
    {% for documents in object_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="/documents/{{ documents.id }}" class="text-dark">{{ documents.license }}</a></td>
        <td>{{ documents.watercourse }}</td>
        <td>{{ documents.line }}</td>
        <td>{{ documents.well }}</td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}