{% block content %}
  <thead class="bg-navbar-main">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Задание</th>
      <th scope="col">Лицензия</th>
      <th scope="col">Водоток</th>
      <th scope="col">Линия</th>
      <th scope="col">Скважина</th>
      <th scope="col">Ответственный</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
      <td>@twitter</td>
    </tr>
  </tbody>
{% endblock %}