{% extends "layout.html" %}
{% block content %}
{% load widget_tweaks %}
    <div class="col-12">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>{{ object.short_name }}</h2>
            <form method="post">
                {% csrf_token %}
{% comment %} 
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ form.visible_fields.password1.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %} {% endcomment %}
                {% render_field form.id value="{{ object.id }}" %}
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    {% render_field form.password1 class="form-control" placeholder=form.password1.label %}
                    {% for error in form.password1.errors %}
                        <span class="help-block text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2s.id_for_label }}">{{ form.password2.label }}</label>
                    {% render_field form.password2 class="form-control" placeholder=form.password2.label %}
                    {% for error in form.password2.errors %}
                        <span class="help-block text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Сохранить
                    </button>
                    <a href="/users/edit/{{ object.id }}" class="btn btn-default">Назад</a>
                </div>
            </form>
        </div>
        </div>
    </div>
{% endblock %}
